@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
}

body,html {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: white;
}

.headerbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #263343;
    padding: 8px 12px;
}

.header_logo {
    color: white;
    padding: 8px 12px;
}

.EPL_logo {
    width: 250px;
    padding-left: 0;
}

.header_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.header_menu li {
    padding: 8px 24px;
    font-size: 18px;
}

#header_button {
    border-radius: 12px;
}

.header_menu li:hover {
    background-color: #6caeec;
    border-radius: 4px;
}

.header_loginbar {
    display: flex;
    list-style: none;
}

.header_loginbar li {
    padding: 8px 12px;
}

.header_toogleBtn {
    display: none;
    position: absolute;
    top: 20px;
    right: 32px;
    font-size: 24px;
}

/* Container */

.container {
    border: 1px solid black;
    min-height: 100vh;
}

/* table */

td {
    font-size: 16px;
}

tr {
    border: 1px solid #d3d3d3;
}

th,td {
    padding: 8px;
    text-align: center;
}

.table_team {
    padding-right: 100px;
}

.rangking {
    display: none;
    padding: 64px;
}

table {
    margin: 0 auto;
}

.ChoiceButton {
    display: flex;
    justify-content: center;
    align-items: center;
}

#rangking_choice {
    width: 270px;
}

/* footer */

footer {
    position: static;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #1e1e1e;
    color: #919191;
    font-size: 12px;
    padding: 20px;
}




@media screen and (max-width: 1068px) {
    .headerbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .header_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .header_menu li {
        width: 100%;
        text-align: center;
    }
    .header_loginbar {
        display: none;
        justify-content: center;
        width: 100%;     
        padding-left: 0;
    }
    .header_toogleBtn {
        display: block;
    }
    #header_button {
        background: none;
        border: none;
    }
    .header_menu.active,
    .header_loginbar.active {
        display: flex;
    }
}