@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    margin: 0;
    background-color: #263343;
}

a {
    text-decoration: none;
    color: white;   
}

.navbar {
    display: flex;
    justify-content: space-around; /*블럭 사이사이 마다 간격 넓히기*/
    align-items: center; /* 세로의 가운데 */
    padding: 8px 12px;
}

.navbar_logo {
    font-size: 24px;
    color: white;
}

.navbar_logo i {
    color:aquamarine;
}

.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0; /* padding-left 를 0 으로 함으로써 가운데로 완벽히 오게함*/
}

.navbar_menu li {
    padding: 8px 12px;
}

.navbar_menu li:hover {
    background-color: #d49466;
    border-radius: 4px;
}

.navbar_icons {
    list-style: none;
    color: white;
    display: flex;
}

.navbar_icons li {
    padding: 8px 12px;
}

.navbar_toogleBtn {
    display: none;
    position: absolute;
    right: 32px; /* 오른쪽에서 32px떨어진곳으로 붙혀줘 */
    font-size: 24px;
    color: white;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }

    .navbar_menu {
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    .navbar_icons {
        display: none;
        justify-content: center;
        width: 100%;
        padding-left: 0;
    }

    .navbar_toogleBtn {
        display: block;
    }
    .navbar_menu.active,
    .navbar_icons.active {
        display: flex;
    }
}